{% extends 'base.html' %}

{% block content %}

<p>
Welcome to {{ username }}'s profile.
</p>

<!-- TODO: Display the user's actual favorites here -->

<p>
    {{ username }}'s favorite books are:

    <ul>
        {% if user.favorite_books %}
            {% for book in user.favorite_books %}
                <li>{{ book.title }} by {{ book.author.name }}</li>
            {% endfor %}
        {% else %}
            <li>No favorite books yet!</li>
        {% endif %}
    </ul>
</p>

{% endblock %}
